.team {
  background-color: var(--light-bg-color);
}
.our-team {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }
}

.team-member {
  background-color: var(--main-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team-member:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.description {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.position {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
