.work-areas {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;

  &-list {
    display: flex;
    justify-content: space-between;
  }
}
.work-area-item {
  position: relative;
}
.work-area-item img {
  display: block;
}

.text-over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  padding: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
