.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms var(--transition-timing-function),
    visibility 300ms var(--transition-timing-function);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
