.agreement {
  margin-bottom: 30px;
}
.confirm-label {
  position: relative;
  display: inline-block;
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;

  font-size: 12px;
  line-height: 1.16;

  // font-size: 14px;
  // line-height: 1.7;

  color: var(--secondary-text-color);

  @media screen and (max-width: 350px) {
    font-size: 2.9vw;
  }

  &::before {
    content: '';
    display: inline-block;
    // text-align: center;
    // width: 16px;
    min-width: 16px;
    height: 15px;

    border: 2px solid var(--primary-text-color);
    border-radius: 3px;
    margin-right: 8px;
  }

  .modal-check:checked + &::before {
    background-color: var(--accent-color);
    background-image: url(../images/icons/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: transparent;
  }
  .modal-check:hover + &::before,
  .modal-check:focus + &::before {
    border-color: var(--accent-color);
  }
}
.link.confirm-rools {
  display: inline-block;
  flex-shrink: 0;
  text-decoration-line: underline;
  // margin-left: 0;

  color: var(--accent-color);

  font-size: 12px;
  line-height: 1.16;

  // line-height: 0.85;
  // border-bottom: 1px solid var(--accent-color);

  @media screen and (max-width: 350px) {
    font-size: 2.9vw;
    // display: block;
  }
}
