.section-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

// .block-title {
//   margin-top: 0;
//   margin-bottom: 20px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;

//   text-transform: uppercase;
//   color: var(--main-white);
// }

// .modal-title {
//   margin-top: 0;
//   margin-bottom: 12px;
//   text-align: center;

//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;

//   color: var(--primary-text-color);
// }
