.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);

  &__flex {
    text-align: center;

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      text-align: start;
    }
  }
}
.social-links {
  @media screen and (max-width: 767.99px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.tablet-flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
