.subscription-form {
  margin-left: 93px;

  &__field {
    display: flex;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin-left: 12px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__icon {
    margin-left: 10px;
  }
}

.subscription-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: var(--main-white);
  outline: none;

  cursor: pointer;
  transition: border-color var(--transition-duration) var(--transition-timing-function);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
