.contacts {
  display: flex;
  flex-direction: column-reverse;

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    &.tel {
      @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        padding-bottom: 32px;
      }
      @media screen and (max-width: 400px) {
        font-size: 8.5vw;
      }
    }
    &.mail {
      @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        padding-bottom: 64px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
      line-height: 1.14;
    }
  }
  &__icon {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: currentColor;
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 767.99px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // margin-left: 305px;

    &__item + &__item {
      margin-left: 50px;
    }
  }
}

.menu-soc-list {
  display: flex;

  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--accent-color);
  }

  @media screen and (max-width: 410px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
