.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.site-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.menu-button {
  display: block;
  position: relative;
  z-index: 2;

  margin: 0;

  border: none;
  background-color: transparent;

  & svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
  }
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
    position: fixed;
    // z-index: 99;
  }
  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: var(--main-white);
    padding: 48px 40px;

    overflow: scroll;

    &.is-open {
      // display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
}
