.nav {
  display: flex;
  margin-left: 93px;

  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  & .link.current {
    color: var(--accent-color);
  }
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
}
